body {
    /* background-color:wheat; */
    font-family: sans-serif;
    border-radius: 30%;
    font-size:large;
        text-align: center;
}

label{
    display: inline-block;
    width: 200px;
}

h1{
    padding-top: 40px;
}

input{
    background-color: #eaf3fa;
    /* margin: 0.5em; */
    /* width: 1.5cm; */
    /* background-color: gainsboro;
    color: white; */
    padding: 10px;
    margin: 5px;

    /* border: black; */
    border-radius: 4px;
    cursor: pointer;
    /* width: auto; */

}

#inner{
    margin: 0 auto;
    width: 70%;
    text-align: left;
    padding: 20px;
    /* background-color: #eab0b0; */
    background-color: #7bd1ff;
    border-radius: 15px;

}

#outer{
    /* background-color: #e7c7c7; */
    background-color: #a3dbf9a3;
    margin: 0 auto;
    border-radius: 15px;

    width: 60%;
}

ul{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
}

@media only screen and (max-width: 1000px) {
    #inner{
        width: 90%;
    }
    
    #outer{
        width: 100%;
    }
}




